.header {
    position: relative;
    height: 480px;
    width: 100%;
}

.header img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 480px;
    width: 100%;
    object-fit: cover;
}

.header img:nth-child(2) {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border: 10px solid #FFD700; 
    border-radius: 50%; 
    box-sizing: border-box;
    z-index: 2; 
}

.header .logo {
    position: absolute;
    top: 180px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 100px; 
}

.header .Slogan {
    position: absolute;
    top: 350px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 30px; 
    font-style: italic; 
    
}

.content {
    height: 600px; 
    font-size: 20px; 
    line-height: 2.0; 
    padding: 20px; 
    margin-top: 100px; 
    padding-bottom: 120px; 
}

.content img {
    width: 300px; 
    height: 600px; 
    margin: 60px 100px 100px 100px; 
    float: left; 
    
}


.footer {
    padding: 40px; 
    background-color: #D5B60A;
    color: white;
    text-align: center;
    position: relative; 
    width: 100%;
    margin-top: 100px; 
}

.footer h1 {
    font-size: 32px;   
}
